<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="GymDbConn" connectionString="Data Source=YOUR_SERVER_NAME;Initial Catalog=GymManagement;Integrated Security=True;Encrypt=False;"
   providerName="System.Data.SqlClient" />
  <add name="GymManagement.Properties.Settings.GymDBConnectionString"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GymDB;Integrated Security=True;Pooling=False;Encrypt=False;TrustServerCertificate=False"
   providerName="System.Data.SqlClient" />
  <add name="GymManagement.Properties.Settings.GymDBConnectionString1"
   connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=GymDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>